@import url(//fonts.googleapis.com/earlyaccess/notosansbengaliui.css); 

.nav-bg--biponon{
    width: 100%;
    background-color: #E2136E;	
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24);

    .nav-item--biponon{
        padding: 0px 16px;

        .nav-link--biponon{
            color: rgba(255, 255, 255, 0.64);	
            font-family: "Noto Sans Bengali UI";	
            font-size: 14px;	
            font-weight: 500;	
            line-height: 18px;
            padding: 12px 24px;

            img{
                opacity:  0.64 !important
            }
        }

        .active{
            color: rgba(255, 255, 255, 1) !important;

            img{
                opacity: 1 !important;
            }
        }
    }
}

.tab-content--biponon{
    padding: 16px;
}