@import url(//fonts.googleapis.com/earlyaccess/notosansbengaliui.css); 

.card--biponon{
    box-shadow: none;

    box-sizing: border-box;		
    width: 100%;	
    border: 1px solid #F2F2F2;	
    border-radius: 4px;	
    background-color: #FFFFFF;

    margin-top: 12px;
    padding: 16px;

    hr{
        display: block; 
        border: 0; 
        border-top: 1px solid  rgba(234, 234, 234, 0.6);
        margin: 1em 0; 
        padding: 0;
    }

    .card-heading--biponon{
        color: #252525;	
        font-family: "Roboto";	
        font-size: 18px;	
        font-weight: 500;	
        line-height: 24px;

        margin-bottom: 12px;
    }

    .card-body--biponon{

        .name{
            img{
                margin-right: 8px; 
            }
            padding: none !important;
            margin: none !important;
            margin-bottom: 8px;
            line-height: 20px;

            color: #707070;	
            font-family: "Roboto";	
            font-size: 14px;	
        }

        .address{
            img{
                margin-right: 8px; 
            }
            padding: none !important;
            margin: none !important;
            margin-bottom: 2px;
            line-height: 20px;

            color: #707070;	
            font-family: "Roboto";	
            font-size: 14px;	
        }

        .route{
            img{
                margin-right: 8px; 
            }
            padding: none !important;
            margin: none !important;
            margin-bottom: 2px;
            line-height: 20px;

            color: #707070;	
            font-family: "Noto Sans Bengali UI";	
            font-size: 14px;
        }
    }

    .card-footer--biponon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .type{
            .circle{
                height: 16px;	
                width: 16px;	
                border-radius: 8px;	
                background-color: #8BB100;
                margin-right: 8px;
            }
	
            color: #8BB100;	
            font-family: "Roboto";	
            font-size: 12px;	
            line-height: 20px;

            display: inline-flex;
        }

        .realignment-date{
                color: #707070;	
                font-family: "Noto Sans Bengali UI";
                font-size: 14px;	
                line-height: 18px;
            .date{
                margin-top: 4px;
                height: 22px;
                color: #252525;	
                font-family: Roboto;	
                font-size: 16px;	
                font-weight: 500;	
                line-height: 22px;
            }
        }
    }
    .card-action--biponon{
        display: flex;
        justify-content: space-between;
        
        button{
            width: 100%;
            outline:none;
            border: none;
            background: none;

            height: 24px;	
            color: #E2136E;	
            font-family: "Noto Sans Bengali UI";	
            font-size: 16px;	
            font-weight: 500;	
            line-height: 24px;	
            text-align: center;

            img{
                margin-right: 12px;
            }
        }

        .delete{
            text-align: left;
            padding-left: 0px; 
            border-right: 1px solid #EAEAEA;;
        }

        .edit{
            text-align: right;
            padding-right: 0px;
        }
    }
}

.modal-content{
    border-radius: 8px;	
    background-color: #FFFFFF;

    .modal-header{
        padding: 0px;
        margin: 0px;
        padding: 24px  16px 8px 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        color: #252525;	
        font-family: "Noto Sans Bengali UI";	
        font-size: 18px;	
        font-weight: 600;	
        line-height: 24px;	
        text-align: center;
    }

    .modal-body{
        padding: 0px;
        margin: 0px;
        padding: 8px;
        
        color: #252525;	
        font-family: "Noto Sans Bengali UI";	
        font-size: 16px;	
        line-height: 24px;	
        text-align: center;
    }

    .modal-footer{
        display: flex;
        justify-content: space-between;
        padding: 8px;

        .btn{
            margin: 8px;
        }
        .no{
            color: #E2136E;	
            font-family: "Noto Sans Bengali UI";	
            font-size: 16px;	
            font-weight: 500;	
            line-height: 24px;	
            text-align: center;
            box-sizing: border-box;	
            height: 49px;	
           	
            border: 1px solid #E2136E;	
            border-radius: 4px;	
            background-color: #FFFFFF;
        }
        .yes{
            color: #FFFFFF;	
            font-family: "Noto Sans Bengali UI";	
            font-size: 16px;	
            font-weight: 500;	
            line-height: 24px;	
            
            text-align: center;
            height: 48px;		
            border-radius: 4px;	
            background-color: #E2136E;
        }
    }
}